body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    height: 500px;
    
    
}

#display {
    width: 100%;
    padding: px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    text-align: right;
}

#btn-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 80px;
    font-size: medium;
    font-weight: 700;
}